---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19993'
      X-Ratelimit-Reset:
      - '1608122872'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":5553047,"width":4000,"height":6000,"url":"https://www.pexels.com/photo/men-looking-at-a-laptop-5553047/","photographer":"Armin  Rimoldi","photographer_url":"https://www.pexels.com/@armin-rimoldi","photographer_id":3517993,"src":{"original":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg","large2x":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/5553047/pexels-photo-5553047.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":472,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=denver%2Cco"}'
  recorded_at: Wed, 18 Nov 2020 15:57:46 GMT
recorded_with: VCR 6.0.0
