---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19893'
      X-Ratelimit-Reset:
      - '1603352343'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":263,"page":1,"per_page":1,"photos":[{"id":3410816,"width":2982,"height":3982,"url":"https://www.pexels.com/photo/photo-of-road-during-daytime-3410816/","photographer":"Vinicius
        Maciel","photographer_url":"https://www.pexels.com/@vinicius-maciel-1820405","photographer_id":1820405,"src":{"original":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg","large2x":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3410816/pexels-photo-3410816.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=los+angeles%2C+ca"}'
  recorded_at: Thu, 24 Sep 2020 04:33:17 GMT
recorded_with: VCR 6.0.0
